{
  "root": true,
  "plugins": [
    "jsdoc",
    "mocha"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jsdoc/recommended",
    "plugin:mocha/recommended",
    "nymph"
  ],
  "rules": {
    "jsdoc/no-undefined-types": 1,
    "jsdoc/require-hyphen-before-param-description": 1,
    "linebreak-style": 1,
    "indent": [
      "error",
      4
    ],
    "quotes": [
      "error",
      "double"
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2023
  },
  "overrides": [
    {
      "files": [
        "test/**/*.mjs"
      ],
      "rules": {
        "max-len": "off"
      },
      "env": {
        "mocha": true
      }
    },
    {
      "files": [
        "src/models/*.mjs"
      ],
      "rules": {
        "new-cap": "off"
      }
    },
    {
      "files": [
        "*.mjs",
        "src/**/*.mjs"
      ]
    }
  ]
}